@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900,700');


.a3 {
  width               : 100%;
  min-width           : 1140px;
  height              : 100vh;
  min-height          : 852px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(58, 64, 98, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a3 .sessionmain {
  background-color    : rgba(255,255,255,0.0);
  top                 : 135px;
  height              : 663px;
  width               : 843px;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sessionmain .sessionmaincontext {
  background-color    : rgba(255,255,255,0.0);
  top                 : 105px;
  height              : 567px;
  width               : 843px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sessionmain .sessionmaincontext .motionblok {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 448px;
  width               : 448px;
  position            : absolute;
  margin              : 0;
  left                : 395px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sessionmain .sessionmaincontext .motionblok .rectangle {
  background-color    : rgba(244, 244, 244, 0.2);
  top                 : 0px;
  height              : 448px;
  width               : 448px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sessionmain .sessionmaincontext .motionblok .rectangle1 {
  background-color    : rgba(244, 244, 244, 0.2);
  top                 : 104px;
  height              : 133px;
  width               : 133px;
  position            : absolute;
  margin              : 0;
  left                : 73px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sessionmain .sessionmaincontext .motionblok .rectanglecopy {
  background-color    : rgba(244, 244, 244, 0.2);
  top                 : 104px;
  height              : 133px;
  width               : 133px;
  position            : absolute;
  margin              : 0;
  left                : 158px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sessionmain .sessionmaincontext .textdescr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 315px;
  height              : 252px;
  width               : 381px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sessionmain .sessionmaincontext .textdescr .loremipsumdolorsi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 367px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.a3 .sessionmain .sessionmaincontext .textdescr .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 228px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sessionmain .sessionmaincontext .controller {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 208px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sessionmain .sessionmaincontext .controller .controller1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 64px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sessionmain .sessionmaincontext .controller .controller1 .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 64px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sessionmain .sessionmaincontext .controller .controller1 .controlline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 47px;
  height              : 1px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sessionmain .sessionmaincontext .controller .controller1 .speed {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(252, 92, 41, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.a3 .sessionmain .sessionmaincontext .controller .controller1 .controlknob {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 145px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sessionmain .sessionmaincontext .controller .controller2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 72px;
  height              : 64px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sessionmain .sessionmaincontext .controller .controller2 .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 64px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sessionmain .sessionmaincontext .controller .controller2 .controlline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 47px;
  height              : 1px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sessionmain .sessionmaincontext .controller .controller2 .speed {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(252, 92, 41, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.a3 .sessionmain .sessionmaincontext .controller .controller2 .controlknob {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 145px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sessionmain .sessionmaincontext .controller .controller3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 144px;
  height              : 64px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sessionmain .sessionmaincontext .controller .controller3 .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 64px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sessionmain .sessionmaincontext .controller .controller3 .controlline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 47px;
  height              : 1px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sessionmain .sessionmaincontext .controller .controller3 .speed {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(252, 92, 41, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.a3 .sessionmain .sessionmaincontext .controller .controller3 .controlknob {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 145px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sessionmain .subtitleani {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 36px;
  width               : 172px;
  position            : absolute;
  margin              : 0;
  left                : 397px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sessionmain .subtitleani .easing {
  background-color    : rgba(255,255,255,0.0);
  top                 : -24px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 60.0px;
  color               : rgba(252, 92, 41, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.a3 .sidenavi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 317px;
  height              : 250px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 1087px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sidenavi .navtext {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 121px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sidenavi .navtext .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 121px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sidenavi .navtext .previous {
  background-color    : rgba(255,255,255,0.0);
  top                 : 53px;
  height              : 33px;
  width               : 75px;
  position            : absolute;
  margin              : 0;
  left                : -22px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(252, 92, 41, 1.0);
  text-align          : right;
  line-height         : 36.0px;
}
.a3 .sidenavi .navtext .icnup {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sidenavi .navtext .icnup .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sidenavi .navtext .icnup .fill1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -4px;
  height              : 17px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(90deg); /* IE 9 */
  -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
  transform           : rotate(90deg);
}
.a3 .sidenavi .navtext .icnup .fill3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 17px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(90deg); /* IE 9 */
  -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
  transform           : rotate(90deg);
}
.a3 .sidenavi .navtextcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 129px;
  height              : 121px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sidenavi .navtextcopy .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 121px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .sidenavi .navtextcopy .previous {
  background-color    : rgba(255,255,255,0.0);
  top                 : 53px;
  height              : 33px;
  width               : 75px;
  position            : absolute;
  margin              : 0;
  left                : -22px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(252, 92, 41, 1.0);
  text-align          : right;
  line-height         : 36.0px;
}
.a3 .sidenavi .navtextcopy .icnup {
  background-color    : rgba(255,255,255,0.0);
  top                 : 74px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .headernavsmall {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 108px;
  width               : 1140px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .headernavsmall .headernavsmall1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 108px;
  width               : 1140px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .headernavsmall .headernavsmall1 .headernavsmallbg {
  background-color    : rgba(58, 64, 98, 1.0);
  top                 : 0px;
  height              : 108px;
  width               : 1140px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .headernavsmall .headernavsmall1 .headernavsmalltext {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 29px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 133px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a3 .headernavsmall .headernavsmall1 .headernavsmalltext .about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 101px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 29.0px;
}
.a3 .headernavsmall .headernavsmall1 .headernavsmalltext .about:hover {
  transform           : scale(1.1);
}
.a3 .headernavsmall .headernavsmall1 .headernavsmalltext .principles {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 101px;
  position            : absolute;
  margin              : 0;
  left                : 122px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 29.0px;
}
.a3 .headernavsmall .headernavsmall1 .headernavsmalltext .principles:hover {
  transform           : scale(1.1);
}
.a3 .headernavsmall .headernavsmall1 .headernavsmalltext .examples {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 101px;
  position            : absolute;
  margin              : 0;
  left                : 245px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 29.0px;
}
.a3 .headernavsmall .headernavsmall1 .headernavsmalltext .examples:hover {
  transform           : scale(1.1);
}
.a3 .headernavsmall .headernavsmall1 .ixmo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : auto;
  width               : 79px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 900;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(252, 92, 41, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-valign-text-middle {
  display             : flex;
  flex-direction      : column;
  justify-content     : center;
}