@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900,700');


/* .a1 {
} */
a {
  text-decoration     : none;
}

/* .anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%; */
/* } */


#mainNav {
  min-height: 150px;
  background-color: #2A304D;
}
/* #mainNav .container{
 max-width:720px ; 
} */

#mainNav .navbar-brand {
  font-family         : "Lato", Helvetica, Arial, serif;
  color               : #FC5C29;
  /* colors for the brand text */
  font-style          : normal;
  font-size           : 48.0px;
  /* padding: 2 rem 0; */
  /* margin-left: 20%; */
 
}

/* #mainNav .navbar-nav {
  margin-left: 20%;
} */

#mainNav .navbar-brand:hover{
font-weight: 900;

transform: scale(1.1);
transition : all 0.4s ease-in-out;
opacity: 0.8;

}

#mainNav .navbar-nav .uxprinciplesformo{
  min-height: 50px;
  font-family: Lato-Black;
  font-size: 1.25 rem;
  color: #FC5C29;
  letter-spacing: 0;
}


#mainNav .navbar-nav .nav-item {
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 900;
  font-style          : normal;
  font-size           : 18.0px;
  /* color               :#FC5C29; */
  text-align          : right;
  line-height         : 36.0px;

}

#mainNav .navbar-nav .nav-item:hover {
  /* color: fade(white, 80%); */
  color               :#FC5C29;
  outline: none;
  /* background-color: transparent; */
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}


#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #FC5C29;
  border: 1px solid #FC5C29;
}



.masthead{
  /* background-color: red; */
  position: relative;
  width: 100%;
  height: 10rem;
  min-height: 10px;
  padding: 4rem 0;
}


#about {
  /* background-color: lightblue; */
  position: relative;
  width: 100%;
  height: auto;
  min-height: 10rem;
  padding: 15rem 0;
}
#about .subtitletext {
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  color               : rgba(255, 255, 255,1.0);
  text-align          : left;
  line-height         : 36.0px;
  font-size           : 1.2rem;
  top                 : 40px;
  height              : 48px;
  width               : 240px; 
  left                : 37px;
} 

#about .thisisatoolwebsi {
  top                 : 48px;
  height              : auto;
  width               : 100%; 
  left                : 292px;
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 0.8);
  text-align          : left;
  line-height         : 36.0px;
}




#principles {
  /* background-color    :lightgreen; */
  position: relative;
  width: 100%;
  height: auto;
  min-height: 20rem;
  padding: 15rem 0;
}

#principles .subtitletext {
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 36.0px;
  font-size           : 1.2rem;
  top                 : 40px;
  height              : 48px;
  width               : 240px; 
  left                : 37px;
      
}

#about .subtitletext .easing #principles .subtitletext .easing {
  top                 : 2px;
  height              : auto;
  width               : 242px;
}

#groupblok {
  top                 : 40px;
  height              : auto;
  width               : 100%;     
}


#groupblok .blok {
  background-color    :lightgrey;
  border: 8px solid #3A4062;
 
  height              : 160px;
  width               : 160px; 
  /* padding: 2rem;  */
}

#groupblok .blok:hover{
transform: scale(0.85);
transition : all 0.4s ease-in-out;
opacity: 0.8;
 border-style: hidden;

}

#groupblok .blok .inner{
  background-color    :white;
  opacity: 80%;
  height              : 100%;
  width               : 100%; 
  padding: 2rem 0 ; 
}

#groupblok .blok .bloktext {

  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 1rem;
  color               : rgba(55, 55, 56, 1.0);
  text-align          : center;
  /* line-height         : 36.0px; */

}



#examples {


/* background-color: lightsalmon; */
position: relative;
width: 100%;
height: auto;
min-height: 20rem;
padding: 15rem 0;

}















/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}